@using Microsoft.AspNet.Identity
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  @Html.ActionLink("Buy Art", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/home/index">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/home/About">About</a></li>
      @if (Request.IsAuthenticated)
      {
        if (!User.IsInRole("Admin"))
        {
          <li class="nav-item"><a class="nav-link" href="/CustomerArtist/Timeline">Timeline</a></li>
          <li class="nav-item"><a class="nav-link" href="/CustomerArtist/VisitProfile/@User.Identity.GetUserId()">My Profile</a></li>
        }
        else
        {
          <li class="nav-item"><a class="nav-link" href="/Admin/Raport/AdminRaport">Raport</a></li>
          <li class="nav-item"><a class="nav-link" href="/Admin/AdminHome/">Manage</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/users/index">Users</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/category/index">Categories</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/style/index">Styles</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/subject/index">Subjects</a></li>
        }

      }
    </ul>

    @Html.Partial("_LoginPartial")
  </div>
</nav>
